<section style="background-color: rgb(243, 243, 243);">
  <section class="hero">
    <div class="hero-body" style="padding-top: 3rem;">
      <div class="container">
        <div class="columns notification is-vcentered has-text-weight-bold is-multiline">
          <div class="column is-full">
            <p class="title has-text-weight-bold is-family-sans-serif is-3">About Us</p>
            <hr class="notification">
          </div>
          <div class="column is-6">
            <div class="media">
              <div class="columns">
                <div class="column">
                  <figure class="image is-64x64 center">
                    <img src="assets/vcf.png" alt="">
                  </figure>
                </div>
                <div class="column is-11">
                  <p class="title py-5 is-size-4-mobile has-text-centered" id="heading">We are Vedik
                    Cyber Forces</p>
                </div>
              </div>
            </div>
            <p class="content is-family-sans-serif is-size-6 is-size-7-mobile py-5 has-text-justified">
              VCF Is a Small Team of Members Who Are New to the Computer Science and Want to Learn New Skills like Game
              Development, Web Development, Apps, Animation, Graphic Designing, and All Other Stuff. We Are Currently
              Looking for More and More Developers to Join Us and Work on New Ideas and Projects to Improve Skills in
              Computer Science and Technology. We Are Just a Platform for Them. We Invite You to Join Us Right Now and
              Join a Enter in a New Journey in the Field of Computer Science and Trust Me It Will Work. Project-based
              Learning Always Works Cause It Gives You the Idea That How Things Work and How Should We Work on New
              Things That We Are Not Aware of That How They Work.
            </p>
            <p>Founded In Nov. 2019</p>
          </div>
          <div class="column is-5 has-text-centered is-centered">
            <div id="grid">
              <figure class="image center">
                <img src="assets/art/1.png" alt="">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>

<section class="section">
  <div class="container">
    <p class="title is-4 has-text-centered">
      Our Working Environment
    </p>
  </div>
  <div class="columns is-centered">
    <div class="column is-6">
      <p class="content is-family-sans-serif is-size-6 is-size-7-mobile py-5 has-text-justified">
        VCF Developers Are Allowed to Work Freely However They Want and When They Want Because VCF Has Not Established
        Any On-Ground Business or Development Place Yet. Our Developers Are Always Allowed to Come up with New Ideas and
        Technologies. Rather than Having a Leader, We Give Everyone Chances to Speak or Put Their Point of View on
        Certain Projects or Topics. We Have Made a Set of Rules That Every VCF Member Needs to Follow so That We May
        Seem Different from All the Crowd. Every New Project Idea Is Shared Between All the Developers and Developers
        Where Every Suggestion Is Compared with Others and Selected If It Meets the Requirements.
      </p>
      <br>
      <p class="content is-family-sans-serif is-size-6 is-size-7-mobile py-5 has-text-justified">Overall We Work In A
        Democratic Environment Where nothing is static we change our rules and strategies whenever it's essential.
        <strong> In VCF Everything Is Dynamic</strong></p>
    </div>
  </div>
</section>


