<div class="columns is-centered">
    <div class="timeline column is-6 is-12-mobile">

        <!--- Project Card --->
        <a href="#">
            <div class="column notification box is-warning is-light">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img class="is-rounded has-ratio"
                                src="https://www.tutorialspoint.com/bootstrap/images/64.jpg" alt="profile-img">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content mt-2">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, commodi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <!--- End Project Card --->


    </div>
</div>