<nav class="navbar is-light">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['home']">
        <img src="assets/vcfnamegood.png" alt="VCF Logo" width="70"
          height="28">
      </a>
      <div class="navbar-burger" [class.is-active]="isActive" (click)="isActive = !isActive"
        data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    
    <div id="navbarExampleTransparentExample" class="navbar-menu" [class.is-active]="isActive">
      <div class="navbar-start">
        <a class="navbar-item" [routerLink]="['']">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Explore</a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Posts
            </a>
            <a [routerLink]="['projects']" class="navbar-item">
              Our Projects
            </a>
            <a [routerLink]="['art']" class="navbar-item">
              Art Work</a>
            <hr class="navbar-devider">
            <a [routerLink]="['forum']" class="navbar-item m-0">
              Forum
            </a>
          </div>
        </div>
        <a [routerLink]="['openroom']" class="navbar-item">Open Room</a>
        <a [routerLink]="['about']" class="navbar-item">About</a>
      </div>
   
      <div class="navbar-end" *ngIf="!isLogin">
          <div class="buttons has-addons mx-2">
              <a [routerLink]="['login']" class="button is-rounded ">Login</a>
              <a [routerLink]="['join']" class="button is-warning is-rounded">Join Now</a>
          </div>
      </div>
      <div class="navbar-end" *ngIf="isLogin">
        <div class="buttons has-addons mx-2">
            <a [routerLink]="['profile']" class="button is-rounded ">Profile</a>
        </div>
    </div>
    </div>
  </nav>
  