<div class="container is-fluid mt-6 mb-6">
    <div class="columns is-multiline is-destkop">
        
        <div class="column notification is-primary is-full">
            <p class="has-text-centered has-text-weight-bold is-family-sans-serif is-size-4 has-text-black-bis">All The
                Members Of VCF</p>
        </div>

        <!-- Member card -->
        <div class="column notification is-one-third-widescreen is-one-third-destkop has-text-centered is-full-mobile ml-2">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img class="is-rounded has-ratio" src="https://www.tutorialspoint.com/bootstrap/images/64.jpg"
                            alt="profile-img">
                    </figure>
                </div>
                <div class="media-content">
                    <a href="#" class="title is-5 has-text-link-dark">
                        <p class="content">Member Name</p>
                    </a>
                    <div class="content mt-2">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, commodi.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end member card-->

    </div>
</div>