<div class="columns is-block-mobile is-multiline is-desktop is-centered">

    <div class="column notification is-warning is-full">
        <p class="has-text-centered has-text-weight-bold is-family-sans-serif is-size-4">All The
            Members Of VCF </p>
    </div>

    <!-- Member card -->
    <div class="column notification box is-white is-one-quarter-widescreen is-one-third-destkop is-full-mobile member" *ngFor = "let member of member_data" >
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded has-ratio" src="https://www.tutorialspoint.com/bootstrap/images/64.jpg"
                        alt="profile-img">
                </figure>
            </div>
            <div class="media-content">
                <a href="#" class="title button is-white is-4 has-text-link-dark my-0">
                    <p class="content my-0">{{member.firstname + ' ' + member.lastname}}</p>
                </a>
                <div class="content mt-2">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, commodi.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end member card-->

</div>