<div class="columns is-block-mobile is-multiline is-desktop is-centered">

    <div class="column notification is-warning is-full">
        <p class="has-text-centered has-text-weight-bold is-family-sans-serif is-size-4">All The
            Members Of VCF </p>
    </div>

    <!-- Member card - Dynamic code goes in the bottom comment-->
    <!-- <div class="column notification box is-white is-one-quarter-widescreen is-one-third-destkop is-full-mobile member" [routerLink]="['profile']" *ngFor = "let member of member_data" >
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded has-ratio" src="https://www.tutorialspoint.com/bootstrap/images/64.jpg"
                        alt="profile-img">
                </figure>
            </div>
            <div class="media-content">
                    <a class="content my-0 title is-4" [routerLink]="['profile']">{{member.firstname + ' ' + member.lastname}}</a>
                <div class="content mt-2">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, commodi.</p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="column notification box is-white is-full-tablet is-5-widescreen is-5-desktop is-full-mobile member">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded has-ratio" src="assets/members/himy.jpg"
                        alt="profile-img">
                </figure>
            </div>
            <div class="media-content">
                    <a class="content my-0 title is-4" href="https://himanshurajora.github.io">Himanshu Jangid</a>
                <div class="content mt-2">
                    <p>Founder And Lead Developer - JavaScript, TypeScript, SQL and NOSQL DataBase, MEAN Stack</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column notification box is-white is-full-tablet is-half-widescreen is-5-desktop is-full-mobile member">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded has-ratio" src="assets/members/ankit.jpg"
                        alt="profile-img">
                </figure>
            </div>
            <div class="media-content">
                    <a class="content my-0 title is-4" href="https://ankit1509.github.io/My-Portfolio/">Ankit Choudhary</a>
                <div class="content mt-2">
                    <p>Co-Founder And Product Manager - Python, JavaScript, SQL and NOSQL DataBase, MEAN Stack, Applied Algorithms, Data Science,  Machine Learning</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column notification box is-white is-full-tablet is-half-widescreen is-5-desktop is-full-mobile member">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded has-ratio" src="assets/members/rahul.jpg"
                        alt="profile-img">
                </figure>
            </div>
            <div class="media-content">
                    <a class="content my-0 title is-4" href="https://rahulkumarjhamtani.github.io">Rahul Kumar Jhamtani</a>
                <div class="content mt-2">
                    <p>UI/UX Developer - JavaScript, SQL DataBase, Machine Learning</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column notification box is-white is-full-tablet is-5-widescreen is-5-desktop is-full-mobile member">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded has-ratio" src="assets/members/karan.jpg"
                        alt="profile-img">
                </figure>
            </div>
            <div class="media-content">
                    <a class="content my-0 title is-4" href="https://www.linkedin.com/in/karan-rathore-137850190/">Karan Singh Rathore</a>
                <div class="content mt-2">
                    <p>UI/UX Developer - Applied Graphics, Logo Designer, HTML, CSS, JavaScript</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column notification box is-white is-full-tablet is-5-widescreen is-5-desktop is-full-mobile member">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded has-ratio" src="assets/members/harsh.jpg"
                        alt="profile-img">
                </figure>
            </div>
            <div class="media-content">
                    <a class="content my-0 title is-4" href="https://www.linkedin.com/in/harsh-agarwal-669221192/">Harsh Agarwal</a>
                <div class="content mt-2">
                    <p>Marketing Executive and Backend Developer - CopyWrinting, Marketing, JavaScript</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column notification box is-white is-full-tablet is-half-widescreen is-5-desktop is-full-mobile member">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded has-ratio" src="assets/members/priy.jpg"
                        alt="profile-img">
                </figure>
            </div>
            <div class="media-content">
                    <a class="content my-0 title is-4" href="https://www.linkedin.com/in/priybhash-soni-52663a204/">Priybhash Soni</a>
                <div class="content mt-2">
                    <p>Android Developer - Java, Kotlin, XML, SQL DataBase</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end member card-->

</div>