<section class="section">
  <div class="container">
    <p class="title is-2 mb-6 has-text-centered">
      Member Profile
    </p>
  </div>
  <div class="columns">
    <div class="column is-3">
      <figure class="image">
        <img src="assets/avatar.png" alt="profile image" style="height: 256px; width: 256px; margin: auto auto;">
        <p class="title is-4 is-2-mobile py-4 has-text-centered">
          @rahulkumarjhamtani
        </p>
      </figure>
    </div>
    <div class="column is-6">
      <div class="notification has-fullheight">
        <div class="feild">
          <label for="name" style="font-weight: 900;">Name</label>
          <p class="title is-4">
            Rahul Kumar Jhamtani
          </p>
        </div>
        <hr style="background-color: rgb(85, 85, 85); height: 1px; ">
        <div class="feild">
          <label for="name" style="font-weight: 900; ">About</label>
          <p class="subtitle is-5">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet sed eius, veritatis tempora nemo perferendis
            sunt dolorum nostrum sequi maiores explicabo facilis quaerat sit similique impedit quos magnam neque
            obcaecati quis, assumenda optio et aliquid, quam alias! Aliquid dolorem perferendis reprehenderit laborum
            sequi maiores officia tempora iusto assumenda cumque aliquam ducimus error optio nam, cum quasi aut maxime,
            recusandae eaque, enim deserunt ipsam. Error aperiam quae, porro qui fugit quaerat mollitia minima nam
            accusamus delectus?
          </p>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <p class="subtitle is-5">Technologies Used By Him</p>
      <div class="field is-grouped is-grouped-multiline">
        <div class="tag is-medium is-info is-rounded has-fullwidth my-2 mx-2">Angular</div>
        <div class="tag is-medium is-info is-rounded has-fullwidth my-2 mx-2">HTML & CSS</div>
        <div class="tag is-medium is-info is-rounded has-fullwidth my-2 mx-2">TypeScript</div>
        <div class="tag is-medium is-info is-rounded has-fullwidth my-2 mx-2">NodeJS</div>
        <div class="tag is-medium is-info is-rounded has-fullwidth my-2 mx-2">JAVA, C, C++</div>
      </div>
    </div>
  </div>
  <br>
  <br>
</section>
