<section id="art">
    <h1 class="title has-text-centered my-4">Art and Photos</h1>
    <div class="container">
        <div class="columns is-multiline is-vcentered">
            <div class="column is-4">
                <figure class="image img">
                    <img src="assets/art/1.jpeg" alt="">
                </figure>
            </div>
            <div class="column is-4">
                <figure class="image">
                    <img src="assets/art/2.png" alt="">
                </figure>
            </div>
            <div class="column is-4">
                <figure class="image">
                    <img src="assets/art/3.png" alt="">
                </figure>
            </div>
            <div class="column is-4">
                <figure class="image">
                    <img src="assets/art/4.png" alt="">
                </figure>
            </div>
            <div class="column is-4">
                <figure class="image">
                    <img src="assets/art/5.png" alt="">
                </figure>
            </div>
            <div class="column is-4">
                <figure class="image">
                    <img src="assets/art/6.png" alt="">
                </figure>
            </div>
            <div class="column is-4">
                <figure class="image">
                    <img src="assets/art/7.png" alt="">
                </figure>
            </div>
            <div class="column is-4">
                <figure class="image">
                    <img src="assets/art/8.png" alt="">
                </figure>
            </div>
            <div class="column is-4">
                <figure class="image">
                    <img src="assets/art/9.png" alt="">
                </figure>
            </div>
            <div class="column is-4">
                <figure class="image">
                    <img src="assets/art/10.png" alt="">
                </figure>
            </div>
            <div class="column is-4">
                <figure class="image">
                    <img src="assets/art/11.jpeg" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>