<section style="background-color: rgb(243, 243, 243);">
  <section class="hero">
    <div class="hero-body" style="padding-top: 3rem;">
      <div class="container">
        <div class="columns notification is-vcentered has-text-weight-bold">
          <div class="column is-6">
            <div class="media">
              <div class="columns">
                <div class="column">
                  <figure class="image is-64x64 center">
                    <img src="assets/vcf.png" alt="">
                  </figure>
                </div>
                <div class="column is-11"> <p class="title py-5 has-text-centered" id="heading">Vedik Cyber Forces</p></div>
              </div>
            </div>
            <p class="subtitle py-5" id="info">Welcome To The Official Website Of VCF Community. Forum, Posts, Content
              Share We Got Everything Covered Here</p>
          </div>
          <div class="column is-5 has-text-centered">
            <div id="grid">
              <div id="a" class="my-6">
                <a [routerLink]="['about']" class="button is-large is-success is-light is-outlined is-rounded ">Know About US</a>
              </div>
              <div id="b" class="my-6">
                <a [routerLink]="['join']" class="button is-large  is-warning is-light is-outlined is-rounded ">Join US</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="section">
    <app-news></app-news>
  </section>
  
  <section class="section">
    <app-member></app-member>
  </section>
  
  <section class="section">
    <app-contributor></app-contributor>
  </section>
  
</section>

<app-footer></app-footer>