<div class="container">
  <p class="title py-6 px-3">Latest Requests</p>
  <div class="columns is-mobile">
    <div class="column is-4-desktop is-5-mobile has-text-centered "><span>Name</span></div>
    <div class="column is-4 has-text-centered "><span>Phone</span></div>
    <div class="column is-3"><span>Action</span></div>
  </div>
  <div class="box is-fullwidth" *ngFor="let request of requests">
    <div class="columns has-text-centered is-mobile">
      <div class="column is-4-desktop is-5-mobile">{{request.firstname}} {{request.lastname}}</div>
      <div class="column is-4">{{request.phone}}</div>
      <div class="column is-4">
        <div class="buttons has-addons">
          <button class="button is-small is-success"><i class="fa fa-check-circle" aria-hidden="true"></i></button>
          <button class="button is-small is-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
          <button class="button is-small  is-warning"><i class="fa fa-info" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
