<div class="container is-light">
    <div id="login" class="my-6 px-6 notification is-white container column is-mobile is-one-third is-center">
        <div class="content">
            <div class="content has-text-centered">
                <figure class="image is-32x32" style="margin: auto auto;">
                    <img src="assets/vcf.png" alt="">
                </figure>
                <p class="title" style="margin: 5px;">Login</p>
                <p>Use Your Vedik Account</p>
            </div>
          <form>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input is-rounded" type="email" placeholder="Username" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input class="input is-rounded" type="password" placeholder="Password" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </p>
            </div>
            <div class="field ml-1">
              <div class="control">
                <label class="checkbox is-medium">
                  <input type="checkbox">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <a href="#" class="btn btn-link has-text-centered">
                  <p>Forgot Password?</p>
                </a>
              </div>
            </div>
            <div class="field has-text-centered">
              <p class="control">
                <button class="button is-rounded is-fullwidth is-warning is-6">
                  Login
                </button>
              </p>
            </div>
          </form>
        </div>
      </div>
      
</div>
<section>
    <app-footer></app-footer>
</section>