<div class="container is-light">
    <div id="login" *ngIf="!isLogin" class="my-6 px-6 notification is-white container column is-mobile is-one-third is-center">
        <div class="content">
            <div class="content has-text-centered">
                <figure class="image is-32x32" style="margin: auto auto;">
                    <img src="assets/vcf.png" alt="">
                </figure>
                <p class="title" style="margin: 5px;">Login</p>
                <p>Use Your Vedik Account</p>
            </div>
          <form #loginForm="ngForm" (ngSubmit)="Login(loginForm.value)">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input is-rounded" type="text" ngModel name="username" placeholder="Username" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input class="input is-rounded" type="password" ngModel name="password" placeholder="Password" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </p>
            </div>
            <div class="field ml-1">
              <div class="control">
                <label class="checkbox is-medium">
                  <input type="checkbox" value=false ngModel name="rememberMe">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <a [routerLink]="['forgot']" class="btn btn-link has-text-centered">
                  <p>Forgot Password?</p>
                </a>
              </div>
            </div>
            <div class="field has-text-centered">
              <p class="control">
                <button type="submit" class="button is-rounded is-fullwidth is-warning is-6" [ngClass]="{'is-loading': isLoging}">
                  Login
                </button>
                
              </p>
             
            </div>
          </form>
        </div>
      </div>
      <div class="section container is-fluid has-text-centered" *ngIf="isLogin">
        <button class="button is-danger is-large" role="button" (click)="LogOut()">LogOut</button>
      </div>
      <div class="modal" [ngClass]="{ 'is-active' : isModalActive}">
        <div class="modal-background" (click)="toggler()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Notification</p>
            <button class="delete" aria-label="close" (click)="toggler()"></button>
          </header>
          <section class="modal-card-body">
            You are Logged In Go To Home Page or LogOut
          </section>
          <footer class="modal-card-foot">
            <a class="button is-success" [routerLink]="['']">Home Page</a>
            <a class="button" (click)="toggler()">Cancel</a>
          </footer>
        </div>
      </div>
      <div class="modal" [ngClass]="{ 'is-active' : isWrongActive}">
        <div class="modal-background" (click)="togglerWrong()"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Notification</p>
            <button class="delete" aria-label="close" (click)="togglerWrong()"></button>
          </header>
          <section class="modal-card-body has-text-centered">
            Wrong Username Or Password
          </section>
          <footer class="has-text-centered notification">
            <a class="button is-danger" (click)="togglerWrong()">Retry</a>
          </footer>
        </div>
      </div>
</div>
