<div class="container is-light">
    <div id="join" class="my-6 px-6 notification is-white container column is-mobile is-half is-center">
        <div class="content">
            <div class="content has-text-centered">
                <figure class="image is-32x32" style="margin: auto auto;">
                    <img src="assets/vcf.png" alt="">
                </figure>
                <p class="title" style="margin: 5px;">Join Us</p>
                <p>Create Your Vedik Account</p>
            </div>
            <form #joinForm="ngForm" (ngSubmit)="onJoin(joinForm.value)">
                <div class="field is-horizontal columns is-desktop" id="name">
                    <div class="field column is-6 name">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input is-rounded" name="firstname" ngModel type="text" placeholder="First Name" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field column is-6 name">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input is-rounded" type="text" name="lastname" ngModel placeholder="Last Name" required>
                            <span class="icon is-small is-left">
                                <i class="fa fa-user"></i>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input is-rounded" type="email" name="email" ngModel placeholder="E-mail" required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input is-rounded" type="text" name="phone" ngModel placeholder="Mobile Number" required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-phone"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input is-rounded" type="text" name="username" ngModel placeholder="GitHub Username (Not Email Or Link)" required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-github"></i>
                        </span>
                    </p>
                </div>
                <div class="field ml-1">
                    <div class="control">
                        <label class="checkbox is-medium">
                            <input type="checkbox" name="terms" ngModel required>
                            I Accept all <a href="#">Terms and conditions</a>
                        </label>
                    </div>
                </div>
                <div class="field has-text-centered">
                    <p class="control">
                        <button type="submit" class="button is-rounded is-fullwidth is-warning is-6">
                            Join Now
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </div>

</div>
<section>
    <app-footer></app-footer>
</section>