/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    font-family: Ubuntu;
    font-weight: 400;
}

*::-webkit-scrollbar{
    background: white;
}
*::-webkit-scrollbar-thumb{
    background: rgb(255, 223, 163);
    border-radius: 10px;
}